In [1]:
import pandas as pd
import numpy as np

# Data Loading
Citation: Antoni Sobkowicz. (2017). Steam Review Dataset (2017) [Data set]. Zenodo. https://doi.org/10.5281/zenodo.1000885

#### Creating A Random Subset 
The original source file is ~6.5 million records, ~700mb, so I used a Bash command to parse the source file for 1000 random records and create a subset to use for the machine learning model.

In [7]:
path = 'random_subset.csv'
df = pd.read_csv(path)
df.head()

,app_id,app_name,review_text,review_score,review_votes
0,211420,DARK SOULS™: Prepare To Die Edition,"Excellent game, especially after resolution/fr...",1,0
1,416130,Written in the Sky,Not a bad story after all. Music is really bad...,1,0
2,305620,The Long Dark,Early Access Review,1,0
3,242920,Banished,it is a rather good game which requires alittl...,1,0
4,274250,OlliOlli,Fun game that is frustratingly difficult at ti...,1,0